node_modules
dist
build
.netlify
.env
.DS_Store
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
server/store/data.db
server/store/data.db-journal
server/store/data.db-wal
server/store/data.db-shm
